.stopWords {
    position: absolute;
    top: 12em;
    right: 36em;
}
.doNotWords {
    position: absolute;
    top: 12em;
    right: 12em;
}
.maxWords {
    position: absolute;
    top: 10em;
    right: 34.2em;
}